.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Blogs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center
}

.Blogs li {
    display : inline-block;
    margin: 20px;
}

.Blogs a {
    text-decoration: none;
    color : black;
    font-weight: bold;
}

.Blogs a:hover,
.Blogs a:active {
    color : #fa923f;
}